/* app/components/UserProfile.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.container:before {
    content: "";
    background: url('../icons/bg.svg');
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.username {
color: #ffffff;
text-align: center;
}

.points {
    font-size: 18px;
    color: #fff;
    text-align: center;
}
